:root {
    --myOrange: #ea640c;
    --montserrat: "Montserrat", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --lato: "Lato", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

@media (min-width: 1600px) {
    .container-xxl .container-xl {
        max-width: 1500px;
    }

    @media (min-width: 1800px) {
        .container-xxl {
            max-width: 1680px;
        }

html {
    position: relative;
    min-height: 100%;
}

body {
    height: 100vh;
    padding-bottom: 60px;
    font-family: var(--lato);
}

.h1 .h2 .h3 .h4 .h5 .h6 {
    font-family: var(--montserrat);
}

.font-header {
    font-family: var(--montserrat);
    font-optical-sizing: auto;
    font-style: normal;
}

.font-p {
    font-family: var(--lato);
}

.h-80vh {
    min-height: 80vh;
}

main {
    min-height: 80vh;
    position: relative;
}

.card img {
    width: 250px;
    height: auto;
}

.form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    display: flex;
    align-items: center;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

a {
    text-decoration: none;
    color: black
}
.button-ridr-white{
    color:var(--myOrange) !important; 
    background-color:white !important;
    border: 2px solid var(--myOrange) !important;
}
.button-ridr-white:hover{
    color: white !important;
    background-color: var(--myOrange) !important;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
.button-ridr-sm{
    appearance: none;
    background-color: var(--myOrange);
    border: 2px solid var(--myOrange);
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: 600;
    line-height: normal;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
}
.button-ridr {
    appearance: none;
    background-color: var(--myOrange);
    border: 2px solid var(--myOrange);
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 22px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    padding: 16px 24px;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
}

.button-ridr:disabled .button-ridr-sm:disabled {
    pointer-events: none;
}

.button-ridr:hover .button-ridr-sm:hover {
    color: var(--myOrange);
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

.button-ridr:active .button-ridr-sm:active{
    box-shadow: none;
    transform: translateY(0);
}

.bg-grey {
    background-color: #e9e9e9;
}
